<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <title>job4j_cars</title>
</head>
<body>
<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" style="margin-bottom: 1%">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/index}">Все объявления</a>
                        </li>
                        <div th:if="${user} != null">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{|/userPosts/${user.getId()}|}">Мои объявления</a>
                            </li>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/addPostPage}">Добавить объявление</a>
                        </li>
                        <div th:if="${user} == null">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/loginPage}">Войти</a>
                            </li>
                        </div>
                        <div th:if="${user} != null">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">Выйти
                                    <span>|</span>
                                    <span th:text="${user.getLogin()}"></span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="card mb-3" style="height: 26rem">
            <div class="row g-0" style="margin-bottom: -20px">
                <div class="col-md-7">
                    <img style="height: 25.9rem; margin-left: -2%" th:src="@{|/getPostPhoto/${post.getId()}|}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-5">
                    <div class="card-body">
                        <table class="table" style="border-color: white">
                            <tr>
                                <h5 class="card-title">
                                    <p th:text="${post.getCar().getCarBrand().getName()}"></p>
                                    <p>
                                        <span th:text="${#numbers.formatInteger(post.getPrice(), 0, 'WHITESPACE')}"></span>
                                        <span> руб.</span>
                                    </p>
                                </h5>
                            </tr>
                            <tr>
                                <td style="width: 60%">
                                    <p class="card-text" >
                                        <span style="color: darkgray">Двигатель: </span>
                                        <span th:text="${post.getCar().getEngine().getName()}"></span>
                                    </p>
                                    <p class="card-text">
                                        <span style="color: darkgray">Привод: </span>
                                        <span th:text="${post.getCar().getWheelDrive().getName()}"></span>
                                    </p>
                                    <p class="card-text">
                                        <span style="color: darkgray">Коробка: </span>
                                        <span th:text="${post.getCar().getTransmission().getName()}"></span>
                                    </p>
                                    <p>
                                        <span style="color: darkgray">Пробег: </span>
                                        <span th:text="${#numbers.formatInteger(post.getCar().getMileage(), 0, 'WHITESPACE')}"></span>
                                        <span> км.</span>
                                    </p>
                                    <p>
                                        <span style="color: darkgray">Год: </span>
                                        <span th:text="${post.getCar().getYear().getYear()}"></span>
                                        <span> г.</span>
                                    </p>
                                    <p>
                                        <span style="color: darkgray">Город: </span>
                                        <span th:text="${post.getCity().getName()}"></span>
                                    </p>
                                    <p>
                                        <span style="color: darkgray">Кузов: </span>
                                        <span th:text="${post.getCar().getCarBody().getName()}"></span>
                                    </p>
                                    <p>
                                        <span style="color: darkgray">Цвет: </span>
                                        <span th:text="${post.getCar().getCarColour().getName()}"></span>
                                    </p>
                                </td>
                                <td style="width: 40%" th:if="${post.isSold() == true}">
                                    <p style="font-size: 150%; color: red; width: 100%">Продано</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-6">
                <p style="font-size: larger; font-weight: bold">Комментарий продавца: </p>
                <p th:text="${post.getText()}"></p>
            </div>
            <div class="col-6" th:if="${isOwn} == true">
                <form method="POST" th:action="@{/editPost}">
                    <input type="hidden" name="postId" th:value="${post.getId()}">
                    <select class="form-select" aria-label="Пример выбора по умолчанию" name="status">
                        <option selected>Изменить статус объявления</option>
                        <option value="false">Активно</option>
                        <option value="true">Продано</option>
                    </select>
                    <label class="form-label" style="margin-top: 2%">Изменить стоимость:</label>
                    <input type="text" class="form-control" th:value="${post.getPrice()}" name="price">
                    <button type="submit" class="btn btn-primary" style="margin-top: 1%">Сохранить</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
